    	<div>
        	<h3>Professional Summary</h3>
        	<br>
          	<p>
          		<table class="table table-striped table-bordered" >
            		<tr>
              			<td >Current Position</td>
              			<td>: System Analyst in United Oversea Bank Sdn. Bhd. (July 2013 - Present)</td> 
            		</tr>
            		<tr>
              			<td>Current Specialization</td>
              			<td>: IT/Computer - Software</td> 
            		</tr>
            		<tr>
              			<td>Highest Education</td>
              			<td>: Bachelor's Degree in Engineering (Computer/Telecommunication)</td> 
            		</tr>
            		<tr>
              			<td>Years of Experiences</td>
              			<td>: 8</td> 
            		</tr>
          		</table>
          </p>
      	</div>