<section>
    <h1>Lee, Chooi Yee (Christine)</h1>
       	<br><br><br>
    	<div class="panel panel-info">
        	<div class="panel-heading">
        		<h3>Personal Particulars</h3>
        	</div>
        	<br>
          	<p>  
          		<table class="table table-striped table-bordered" >
            		<tr>
              			<td>Date of Birth</td>
              			<td>: 8 Jan 1985</td> 
            		</tr>
            		<tr>
              			<td>Gender</td>
              			<td>: Female</td> 
            		</tr>
            		<tr>
              			<td>Nationality</td>
              			<td>: Malaysia</td> 
            		</tr>
          		</table>

          </p>
      	</div>
      	<div class="panel panel-info">
	      	<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
	      		<br>
				<ul id="myTab" class="nav nav-tabs nav-justified" role="tablist">
				 	<li role="presentation" class="active">
				 		<a href="#summary" role="tab" id="summary-tab" data-toggle="tab" aria-controls="summary" aria-expanded="true">
				 			Professional Summary
				 		</a>
				 	</li>
				 	<li role="presentation">
				 		<a href="#employment" role="tab" id="employment-tab" data-toggle="tab" aria-controls="employment">
				 			Employment History
				 		</a>
				 	</li>
				 	<li role="presentation">
				 		<a href="#education" role="tab" id="education-tab" data-toggle="tab" aria-controls="eduction">
				 			Educational Background
				 		</a>
				 	</li>
				 	<li role="presentation">
				 		<a href="#others" role="tab" id="others-tab" data-toggle="tab" aria-controls="others">
				 			Skills and Languages
				 		</a>
				 	</li>
				</ul>
	      	</div>
	      	<div class="panel-body">
		      	<div id="myTabContent" class="tab-content">
		      		<div role="tabpanel" class="tab-pane fade in active" id="summary" aria-labelledBy="summary-tab">
			        	<br>
			          	<p>
			          		<table class="table table-striped table-bordered" >
			            		<tr>
			              			<td >Current Position</td>
			              			<td>: System Analyst in United Oversea Bank Sdn. Bhd. (July 2013 - Present)</td> 
			            		</tr>
			            		<tr>
			              			<td>Current Specialization</td>
			              			<td>: IT/Computer - Software</td> 
			            		</tr>
			            		<tr>
			              			<td>Highest Education</td>
			              			<td>: Bachelor's Degree in Engineering (Computer/Telecommunication)</td> 
			            		</tr>
			            		<tr>
			              			<td>Years of Experiences</td>
			              			<td>: 8</td> 
			            		</tr>
			          		</table>
			         	</p>
		      		</div>
		      		<div role="tabpanel" class="tab-pane fade" id="employment" aria-labelledBy="employment-tab">
			          	<br>
			          	<p>
			          		<h4>United Oversea Bank Sdn. Bhd.</h4>
			          		<h6> (July 2013 - Present)</h6>
			          		<table class="table table-striped table-bordered" >
			            		<tr>
			              			<td>Position Title (Level)</td>
			              			<td>: System Analyst (Assistant Vise President)</td> 
			            		</tr>
			            		<tr>
			              			<td>Specialization</td>
			              			<td>: IT/Computer - Software</td> 
			            		</tr>
			            		<tr>
			              			<td>Role</td>
			              			<td>: Programmer</td> 
			            		</tr>
			            		<tr>
			              			<td>Industry</td>
			              			<td>: Banking</td> 
			            		</tr>
			            		<tr>
			            			<td>Work Description</td>
			              			<td>: 
			              				<ol>
					                  		<li>
					                    		Daily Support &amp; Enhancement
					                     		<ul>
					                        		<li>Statement Application - generate Statement, Advices, Notification and Letter (ISIS Papyrus)</li>
					                        		<li>Card Track Application – Card Sales Team to check customer card application status, sales report (VB 6 and SQL 2000)</li>
					                        		<li>Trade Campaign application – Application base on Campaign criteria to calculate trade points for customer (VB 6 and SQL 2000)</li>
					                        		<li>MRA/MFA, ELR Calculate (Risk Rating Application for Borrowers)</li>
					                    		</ul>
					                  		</li>
					                  		<li>
					                    		Special Project
					                     			<ul>
					                        			<li>Standardization project – MFA and ITSR Application</li>
					                        			<li>Challenge on MFA, reduce the conversion period from 8 hrs to 4hrs</li>
					                        			<li>Statement App – Upload files to vendor with winzip with password (temporally solution within 1 week implemented)</li>
					                        			<li>Statement App - PGP command line file encryption and decryption</li>
					                        			<li>GST Project – Statement application and CNS application (Reports)</li>
					                    			</ul>
					                  		</li>
					                  	</ol>
					             	</td> 
			            		</tr>
			          		</table>
			          	</p>
			          	<br>
			          	<p>
			          		<h4>IMRD Sdn. Bhd.</h4>
			          		<h6> (Dec 2008 - June 2013)</h6>
			          		<table class="table table-striped table-bordered">
			            		<tr>
			              			<td>Position Title (Level)</td>
			              			<td>: Software Developer (Senior Executive)</td> 
			            		</tr>
			            		<tr>
			              			<td>Specialization</td>
			              			<td>: IT/Computer - Software</td> 
			            		</tr>
			            		<tr>
			              			<td>Role</td>
			              			<td>: Software Engineer/Programmer</td> 
			            		</tr>
			            		<tr>
			              			<td>Industry</td>
			              			<td>: Computer / Information Technology (Software)</td> 
			            		</tr>
			            		<tr>
			              			<td>Work Description</td>
			              			<td>:
			                			<ul>
			                  				<li>design &amp; development on terminal program with C language</li>
			                  				<li>web application with html, java script and asp</li>
			                  				<li>develop store procedure at Oracle database</li>
			                  				<li>Done for billing, bill payment, registration, stock block, stock return inward and Analysis modules at TiTus System (value-chain solution for prepaid industry)</li>
			                  				<li>Done for Terminal Management System to support TiTus System for all project.</li>
			                			</ul>
			              			</td> 
			            		</tr>
			          		</table>
			          	</p>
			          	<br>
			          	<p>
			          		<h4>DMF Techonology MSC Sdn. Bhd.</h4>
			          		<h6> (Dec 2007 - Nov 2008)</h6>
			          		<table class="table table-striped table-bordered">
			            		<tr>
			              			<td>Position Title (Level)</td>
			              			<td>: Software Developer (Junior Executive)</td> 
			            		</tr>
			            		<tr>
			              			<td>Specialization</td>
			              			<td>: IT/Computer - Software</td> 
			            		</tr>
			            		<tr>
			              			<td>Role</td>
			              			<td>: Software Engineer/Programmer</td> 
			            		</tr>
			            		<tr>
			              			<td>Industry</td>
			              			<td>: Computer / Information Technology (Software)</td> 
			            		</tr>
			            		<tr>
			              			<td>Work Description</td>
			              			<td>:
			              				<ul>
			                  				<li>Assigned to Materials Requirement Planning (MRP) system project</li>
			                  				<li>Using VB.net (VS2008) and SQL Server</li>
			                  				<li>In Charge the Stock Inventory, Bill of Material, Job Scheduling and Issue Production (Calculation Raw Material according the job scheduling)</li>
			                			</ul>
			                		</td>
			                	</tr>
			                </table>
			          	</p>
		      		</div>
		      		<div role="tabpanel" class="tab-pane fade" id="education" aria-labelledBy="education-tab">
			          	<br>
			          	<p>
			          		<h4>Bachelor's Degree of Engineering (Computer/Telecommunication)</h4>
			          		<table class="table table-striped table-bordered" >
			            		<tr>
			              			<td>Graduation Date</td>
			              			<td>: 2007</td> 
			            		</tr>
			            		<tr>
			              			<td>Major</td>
			              			<td>: Software Engineering</td> 
			            		</tr>
			            		<tr>
			              			<td>Institute/University</td>
			              			<td>: Asia Pacific Institute of Information Technology, Malaysia</td> 
			            		</tr>
			            		<tr>
			              			<td>Grade</td>
			              			<td>: Grade C/2nd Class Lower</td> 
			            		</tr>
			            	</table>
			            </p>
			          	<p>
			          		<h4>Diploma of Engineering (Computer/Telecommunication)</h4>
			          		<table class="table table-striped table-bordered" >
			            		<tr>
			              			<td>Graduation Date</td>
			              			<td>: 2005</td> 
			            		</tr>
			            		<tr>
			              			<td>Major</td>
			              			<td>: Software Engineering</td> 
			            		</tr>
			            		<tr>
			              			<td>Institute/University</td>
			              			<td>: Asia Pacific Institute of Information Technology, Malaysia</td> 
			            		</tr>
			            		<tr>
			              			<td>Grade</td>
			              			<td>: Grade C/2nd Class Lower</td> 
			            		</tr>
			            	</table>
			            </p>
			            <p>
			            	<h4> Certification</h4>
			          		<table class="table table-striped table-bordered" >
			            		<tr>
			              			<td>Querying Microsoft SQL Server 2012(MS10774)</td>
			              		</tr>
			            		<tr>
			              			<td>Developing Microsoft SQL Server 2012 Database (MS10776)</td>
			              		</tr>
			            		<tr>
			              			<td>.Net Framework 4, Web Application (2012) – Certification Number E088-9693</td>
			              		</tr>
			            		<tr>
			              			<td>UBS Accounting System (2005)</td>
			              		</tr>
			              	</table>
			            </p>
		      		</div>
		      		<div role="tabpanel" class="tab-pane fade" id="others" aria-labelledBy="others-tab">
		      			<br>
			          	<p>
			          		<h4>Skills</h4>
			          		<table class="table table-striped table-bordered" >
			          			<tr><td>JavaScript</td></tr>
			          			<tr><td>HTML</td></tr>
			          			<tr><td>SQL</td></tr>
			          			<tr><td>Oracle PL/SQL</td></tr>
			          			<tr><td>Visual Basic</td></tr>
			          			<tr><td>VB.NET</td></tr>
			          			<tr><td>C Language</td></tr>
			          			<tr><td>C ++</td></tr>
			          		</table>
			          	</p>
			          	<br>
			          	<p>
			          		<h4>Languages</h4>
			          		<table class="table table-striped table-bordered" >
			          			<tr>
			          				<th>Language</th>
			          				<th>Spoken</th>
			          				<th>Writen</th>
			          			</tr>
			          			<tr>
			          				<td>Chinese</td>
			          				<td>Good</td>
			          				<td>Intermediate</td>
			          			</tr>
			          			<tr>
			          				<td>English</td>
			          				<td>Intermediate</td>
			          				<td>Intermediate</td>
			          			</tr>
			          			<tr>
			          				<td>Malay</td>
			          				<td>Intermediate</td>
			          				<td>Intermediate</td>
			          			</tr>
			          		</table>
			          	</p>
		      		</div>
		      	</div>
			</div>
      	</div>
      	<br><br>